.navigationBar-t {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3f51b5;
  height: 100px;
  width: 100%;
  color: white;
  position: fixed;
  padding: 24px 40px;
  z-index: 1;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6); /* Basic shadow */
}
.navigationBar-t-c {
  font-size: 24px;
}
.navigationBar-t-r {
  font-size: 36px;
  text-decoration: none;
  color: white;
}
.navigationBar-side {
  margin-top: 100px;
  background-color: #3f51b5;
  position: fixed;
  width: 250px;
  height: 100%;
  color: white;
  left: -250px;
  padding-right: auto;
  transition: all 0.5s;
  font-size: 26px;
  padding-left: 30px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
