.App {
  text-align: center;
  color: #eeeeee;
  margin-left: 10%;
  margin-top: 100px;
}
* {
  margin: 0;
  transition: all 0.2s;
}
.mainbody {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 18px 32px 18px 32px;
  justify-content: space-between;
}
.sidebar {
  max-width: 320px;
}
.rightPart {
  width: 100%;
}
